/* Specifying TypefaceS
font-family, Size of Type Font Size  */

h1,h2 {
   font-family: Arial, Verdana, sans-serif;
   color: blue;
   font-size: 50px;
}

p {
  color: hsl(126, 82%, 32%);
  font-size: 30px;
  line-height: 1.5em;
}

/* More Font Choice  @font-face */
@font-face {
  font-family: "MyFont";
  src: url("MyFont-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "MyFont", sans-serif;
}

/* Understanting Font Family */
@font-face {
 font-family: 'ChunkFiveRegular';
 src: url('fonts/chunkfive.eot');
 src: url('fonts/chunkfive.eot?#iefix') 
       format('embedded-opentype'),
      url('fonts/chunkfive.woff') format('woff'),
      url('fonts/chunkfive.ttf') 
    format('truetype'),
      url('fonts/chunkfive.svg#ChunkFiveRegular') 
      format('svg');}

      /* Font Property */

      h3 {
        color: red;
        font-size: 50px;
        font-style: bold;
      }

      /* Text Transforamtion, Text Alignment */
      h1 {
        text-transform: uppercase;
        text-align: center;
      }

      h2 {
        text-transform: lowercase;
      }

      h3 {
        text-transform: capitalize;
      }

      /* Text Decoration */
      h1 {
        text-decoration: underline;
      }

      h2 {
        text-decoration: line-through;
      }

      h3 {
        text-decoration: dashed;
      }

      /* Letter Spacing and Word Spacing */
      h1 {
        letter-spacing: 1rem;
      }

      h2 {
        word-spacing: 1em;
      }

      /* Drop Text Shadow*/

      h1 {
        text-shadow: 3px, 3px, 3px, 5px, black;
      }

      /* First letter or First lIne */
      p.intro:first-letter {
      font-size: 200%;
      }
      p.intro:first-line{ 
      font-weight: bold;
    }

    /* Styling Links */
    a {
  color: hsl(210, 80%, 45%);
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:visited {
  color: hsl(270, 60%, 45%);
}

    