/* Fore Ground Color */
/* color name */
h1 {
color: DarkCyan;}
/* hex code */
h2 {
color: #ee3e80;}
/* rgb value */
p {
color: rgb(66, 63, 246);}

/* Back Ground Color */
body {
background-color: rgb(200,200,200);}
h1 {
background-color: rgb(170, 171, 148);}
h2 {
background-color: #ee3e80;}
p {
background-color: white;}

/* CSS23: Opicity */
#one {
  background-color: rgb(0,0,0);
  opacity: 0.5;
  color: white;
  text-align: center;
}

#two {
background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.5);
color: white;
text-align: center;
}

/* HSL Color */
button {
  background-color: hsl(210, 80%, 50%);
  color: white;
}

button:hover {
  background-color: hsl(210, 80%, 45%);
}
