body {
  width: 600px;
  margin: 0 auto;
}

h1 {
  margin-left: 10px;
}

#content {
  overflow: auto;
  height: 100%;
}

#nav, #feature, #fotter {
  background-color: #efefef;
  padding: 10px;
  margin: 10px;
}

.column1, .column2, .column3 {
  background-color: #efefef;
  width: 500px;
  float: left;
  margin: 10px;
  padding: 10px;
}

li {
  display: inline;
  padding: 5px;
}